.main {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main .name-wrapper {
  background-color: #ffffff;
  height: 932px;
  width: 430px;
}

.main .name {
  left: 92px !important;
  position: relative !important;
  top: 441px !important;
}
